@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Be Vietnam Pro";
    /* border: #F3603B solid 2px;   */
}

/* Header Desktop*/

body{
    max-width: 100%;
    overflow-x: hidden;
    background-image: url("../img/bg-tablet-pattern.svg"), url("../img/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-position: left 110% bottom 110%, right 150% top 65%;
    } 
    
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 4% 12%;
    }

header ul{
    display:flex;
    gap:28px;
}
header ul li{
        display:inline-block;
        list-style: none;
    }

header ul li a{
        color: #242E52;
        font-weight: 500;
        font-size: 0.8em;
        text-decoration:none;
    }

header ul li a:hover{
color:#F3603B;
    }

    #hamburguesa{
        display:none;
    }

    .btn{
        width: 134px;
        height: 44px;
        background-color:#F3603B;
        border-radius: 50px;
        color: white;
        border: #F3603B;
        cursor:pointer;
        box-shadow: 0px 10px 13px -7px #000000, 1px 13px 19px 2px;
    }

    .btn:hover{
    opacity:0.8;
    }


/* Main Desktop */

h1{
    font-size: 2.6em;
    color: #232C50;
    font-weight: 700;
    letter-spacing: -0.035em;
    padding: 2em 8em 0 0;
}

article.principal {
    display: flex;
    justify-content:space-between;
    gap: 10em;
    padding: 0 165px;
}

.principal div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2em;
    padding: 2em;
}

.principal p{
    padding: 1em 27em 0 0;
    text-align: justify;
    letter-spacing: -0.02em;
    line-height: 1.9em;
    font-size: 1em;
    font-weight: 500;
    color: #B9B9C1;
}


/* Sección manage*/

.innova{
    display:flex;
    justify-content: space-between;
    gap:7em;
    padding:6.25em 10em 0 10em;
}

.subContainer{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.75em;
}

.subContainer p{
    padding: 1em 19em 0 0;
    text-align: justify;
    letter-spacing: -0.02em;
    line-height: 1.9em;
    font-size: 1em;
    font-weight: 500;
    color: #B9B9C1;
}

.innova h2{
    font-size: 2.25em;
    color: #232C50;
    font-weight: 500;
    padding: 1em 7em 0 0;

}

.sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.7em;
}

.sub div{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1.1em;
    counter-increment: numerito;
}

.sub h3{
    margin-left: -1em;
    padding: 0.4em 0 0.4em 3.5em;
    color: #232C50;
    font-size: 1rem;
    font-weight: 700;

}

.sub h3::before{
    content: counter(numerito);
    background: #F3603B;
    border-radius: 1.875em;
    font-weight: 700;
    line-height: 1.5em;
    color: #FFFFFF;
    padding: 0.6em 1.9em;
    margin-right: 2em;
}


.sub p {
    text-align: left;
    line-height: 2em;
    font-size: 0.9em; 
    padding: 0 18.5em 3em 10em; 
    letter-spacing: 0.02em;
    color: #B9B9C1;
    font-weight: 500;

}



/*Comentarios*/

.comentarios{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:90%;
    padding: 4.4em 0px 0 0px;
    margin: 4.4em 4.4em 11.25em 4.4em;

}

.comentarios h2{
    font-size: 2.25em;
    color: #232C50;
    font-weight: 700;
    margin-bottom: 6.25em;
    


}
#cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 0.625em;
    margin-bottom: 3.125em;
}

article h5{
    color: #232C50;
    font-size: 1em;
    font-weight: 700;
    margin-top: -1.56em;
}

    .cardOculta, .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FAFAFA;
        gap: 1em; 


    }
    .cardOculta img, .card img{
        width: 4.375em;
        position: relative;
        bottom: 2.188em;
    }
    .cardOculta p, .card p{
        color: #B9B9C1;
        text-align: center;
        margin: 0 2.188em 2.406em 2.188em;
        font-size: 1em;
        font-weight: 200 medium;
        line-height: 1.628em
    }

    .puntitos{
        display:none;
    }


    aside{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2.4em;
        gap: 1.25em;
        padding: 2.7em 165px;
        text-align:center;
        background-color:#F3603B;
        color: #FFFFFF;
        background-image: url("../img/bg-simplify-section-desktop.svg")

    }

    aside p{
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: -0.005em;
            color: #FFFFFF;
            padding-right: 900px;
        }
    
    .blanco{
        width: 10em;
        height: 2.75em;
        color: #F3603B;
        background-color:#FFFFFF;
        border-radius: 3.125em;
        border: #FFFFFF;
        cursor:pointer;
    }

    .blanco:hover{
        color:#f3603bab;
    }


    /* Footer Desktop  */

    footer{
        padding: 52px 165px;
        background-color: #1E1E26;
        position: relative;
    }
    .piePagina{
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .redes{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap:50px;
        padding-right: 5px;
    }
    .redes i{
        color: white;
        font-size: 24px;
        transition: 0.3s;
        letter-spacing: 0.3em;

    }
    .redes i:hover{
        color: #F3603B;
        cursor: pointer;
    }

    .navFooter{
        display: flex;
        justify-content: center;
        gap:300px;
        padding-right: 55px;

    }

    .navFooter ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
    .navFooter ul li a{
        font-weight: 400;
        color: white;
        text-decoration: none;
        transition: 0.3s;
    }
    .navFooter ul li a:hover{
        color: #F3603B;
    }
    form input{
        background: #FFFFFF;
        border-radius: 50px;
        padding:12.5px 50px 12.5px 10px;
        border:none;
    }
    form input:focus{
        outline: none;
    }
    footer>p{
        font-weight: 500;
        font-size: 12.5px;
        line-height: 18px;
        color: #8C8C94;
        position:absolute;
        right: 165px;
        bottom: 50px;
    }

    footer button{
        background-color:#F3603B;
        width: 5em;
        height: 2.75em;
        border-radius: 3.2em;
        border: #F3603B;
        color: #FFFFFF;
        text-align: center;
        align-items: center;
        cursor:pointer;
    }

    footer  button:hover{
        background: #f3785a;
    }



@media (max-width: 375px){
    
body{
    background-size: 55vh;
    background-position: left 120px bottom 102%, left 300px bottom 85%;
    }
    
    
/* Mobile Header */

header {
    padding: 1.5em;
    display:flex;
    justify-content: space-between;
    gap: 150px;
}
header ul{
    display: none;
}

.btn{
    display:  none;
    transition: none;
}
#hamburguesa{
    display:block;
}


/* Mobile Main */
h1{
    font-size: 2em;
    padding: 0;

}

article.principal{
    flex-direction: column-reverse;
    padding: 30px;
    gap:0px
}

.principal div{
    text-align: center;
    align-items: center;
}

.principal img{
    width: 100%;
}

.principal p{
    line-height: 1.7;
    padding: 0;

}

.principal .btn{
    display: block;
    text-align: center;
}

/* Sección manage*/


.innova{
    flex-direction: column;
    padding: 30px;
    gap:10px;
}
.subContainer{
    padding:0;
    text-align: center;
    gap: 15px;
}
.innova h2{
    font-size: 2em;
    padding: 15px;
    font-weight: 700;
}

.subContainer p{
    line-height: 1.7;
    padding: 5px 5px 25px 5px;
    text-align: center;
}
.sub h3{
    margin-left: -15px;
    padding: 0.4em 0 0.4em 0.2em;
    background-color: rgb(255, 239, 234);
    font-size: 13px; 
    width: 100%;
}

.sub p{
    padding: 0px;
    font-weight: 200;
    font-size: 0.7em;
}


/* Comentarios */


.comentarios{
    margin:1em 1.5em 0 1.5em;
    padding:0;
} 
.comentarios h2{
    font-size: 2em;
    font-weight: 700;

}
.cards{
    padding-bottom: 10px;

}
.card{
    gap: 0;
}
.card img{
    max-width: 100px;
    bottom: 50px;
}

.cardOculta{
    display: none;
}


.card p{
    margin: 1.5em 3em 2.406em 3em;
    font-size: 0.8em;
    font-weight: 200 medium;
}
.comentarios button{
    display:block;
    margin-bottom: 25px;
    box-shadow: none;
}
.comentarios .puntitos{
    display:flex;
    gap:5px;
    padding-bottom: 20px;
}

.puntitos i{
    font-size: 10px;
    color:#F3603B
}


/* Aside */

aside{
    flex-direction: column;
    gap: 25px;
    background-repeat: no-repeat;
    padding:1.5em 0.5em;

}
aside p{
    text-align: center;
    font-size: 1em;
    padding: 1em 0.7em;
}


/* Footer Mobile */

footer{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.piePagina{
    flex-direction: column;
    align-items: center;
    gap:25px;
}

.redes{
    order: 3;
    flex-direction: column-reverse;
}

.redes>div{
    display: flex;
    gap:30px
}
.redes i{
    font-size: 1.5em;
    gap:15px;
}
.navFooter{
    width: 100%;
    padding: 15px;
    gap: 90px;
    order: 2;
    font-size: 0.7em;
}
.piePagina form{
    align-items: center;
    order: 1;
}
footer>p{
    position: relative;
    right:initial;
    bottom:initial;
    font-size: 0.5em;
    padding-top: 5em; 

}

}